@using System.Web.Mvc;

@model IEnumerable<Lecturers.Models.Class>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    @*<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>*@
    @*<script src="~/Scripts/myfuncion.js"></script>*@
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">*@
</head>
<style>
    .body_class {
        width: 100%;
        margin-top: 150px;
    }

    .body_right_item {
        width: 90%;
        margin: auto;
        margin-top: 180px;
    }

    .item1, .body_content_1 {
        width: 100%;
        align-items: center;
        background-color: #ffffff;
        box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
        padding: 20px;
        border-radius: 10px;
        margin-bottom: 40px;
        display: flex;
    }

    .item1 i, .menu_right_item i {
        border: 1px solid #e5dada;
        padding: 15px;
        border-radius: 50%;
        margin-right: 10px;
    }

    .tin, .comment {
           
        width: 100%;
        height: auto;
        border: none;
        background-color: rgb(232,232,232);
        border-radius: 40px;
        outline: none;
        padding-left: 20px;
    }

    .content {
        border-bottom: 1px solid #e5dada;
        padding-bottom: 20px;
    }

    .body_content_1 {
        display: block;
    }

    .menu_right_item {
        align-items: center;
        display: flex;
        padding: 20px 10px;
    }

    .name_user {
        font-size: 20px;
    }

    .comment_ofcontent {
        width: max-content;
        background-color: rgb(232,232,232);
        margin-bottom: 20px;
        padding: 10px;
        margin-left: 40px;
        border-radius: 10px;
    }
    .glyphicon {
        position:unset;
    }
</style>

<div class="body_class">
    <div class="body_right_item">
        @using (Ajax.BeginForm("Create", "ContentClasses", new { @area = "" }, new AjaxOptions()

        {
            HttpMethod = "POST",
            OnFailure = "AjaxFormError",
            OnSuccess = "AjaxFormSuccess",
        }, new { id = "itemClassMaLop" }))
        {
            @Html.AntiForgeryToken()
            @Html.Hidden("idclass", (int)ViewBag.IdClass)
            
            <div class="item1">
                <i class="glyphicon glyphicon-user"></i>
                <textarea class="tin" type="text" placeholder=" @Session["user"] bạn đang nghĩ gì?" name="tin" id="tin"></textarea>

            </div>
            @*@Html.ActionLink("Home", "Tinmoi", "classes", new { id = 2 }, null)*@
        }

        @foreach (var myitem in ViewBag.content)
        {
            <div class="body_content_1">
                @if (@myitem.userofclass != null && @myitem.tin != null)
                {
                    <div class="content">

                        <div class="name_user">@myitem.userofclass</div>
                        <div class="Tincu">@myitem.tin</div>
                    </div>

                    using (Ajax.BeginForm("Create", "Comments", new { @area = "" }, new AjaxOptions()

                    {
                        HttpMethod = "POST",
                        OnFailure = "AjaxFormError",
                        OnSuccess = "AjaxFormSuccess",
                    }, new { id = "id" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.Hidden("idContentClass", (int)myitem.Id)
                        <div class="menu_right_item">
                            <i class="glyphicon glyphicon-user"></i>
                            <textarea class="comment" type="text" placeholder="@Session["user"] ơi bình luận đi" name="comment" id="comment"></textarea>
                        </div>

                        foreach (var mycomment in ViewBag.comment)
                        {
                            if (mycomment.idContentClass == myitem.Id)
                            {
                                <div class="comment_ofcontent">
                                    <div class="name_user">@mycomment.userName</div>
                                    <div class="Tincu">@mycomment.comment</div>
                                </div>
                            }
                        }
                    }

                }
            </div>
        }
    </div>
</div>
   


<script>
    const $ = document.querySelector.bind(document);
    const $$ = document.querySelectorAll.bind(document);
    const tab_body = $$('.body_right_item_1');
    const tab_menu = $$('.menu_item');

    tab_menu.forEach((tab, index) => {
        const body_item = tab_body[index]

        tab.onclick = function () {
            $(".menu_item.active1").classList.remove("active1")
            $(".body_right_item_1.active2").classList.remove("active2")

            this.classList.add("active1");
            body_item.classList.add("active2");
        }

    })

    console.log("Hôm nay trời mưa");


</script>



